*{
    margin: 0;
    padding:0;
}

body{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(../imagens/imagens/fundo.png) repeat-x;
}

#container{
 width: 500px;
 margin:0 auto;

}

#topo{
    height: 150px;
    background: url(../imagens/imagens/detalhe-topo.png) no-repeat right top;
    padding-top:25px;

    border:1px solid rgb(60, 61, 121);
}
.logo{
    width:152px;
    height: 66px;
    background: url(../imagens/imagens/logo.png) no-repeat center;
    text-indent: 300;
}